.hero
  background-color: $section-color
  &-block
    padding-top: 43px
    padding-bottom: 0px
    display: flex
    justify-content: space-between
  &-text
    flex-basis: 46%
    padding-right: 55px
    &__title
      font-size: 41px
      +bold
      margin-top: 29px
      margin-bottom: 35px
      margin-left: -1px
      line-height: 1.4em
    &__subtitle
      font-size: 20px
      +bold
      margin-bottom: 65px
      display: block
  &-list
    margin: 0
    padding: 0
  &-item:not(:last-child)
    margin-bottom: 23px
  &-item
    display: flex
    align-items: center
    &__img
      width: 40px
      height: 40px
      border: 2px solid $main-color
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center
      margin-right: 25px
    &__text
      max-width: 232px
      font-size: 14px
      line-height: 24px
@media (max-width: 1200px)
  .hero
    &-item
      &:not(:last-child)
        margin-bottom: 20px
    &-text
      flex-basis: 55%
      &__title
        font-size: 32px
        margin-top: 17px
        margin-bottom: 30px
        line-height: normal
      &__subtitle
        font-size: 18px
        margin-bottom: 45px
@media (max-width: 992px)
  .hero
    &-block
      flex-direction: column
      justify-content: center
    &-text
      padding: 0 0 0 10px
      max-width: 70%
      &__title
        font-size: 30px
        margin-top: 0
        margin-bottom: 20px
      &__subtitle
        font-size: 18px
        margin-bottom: 35px
    &-img
      margin-top: 30px
@media (max-width: 768px)
  .hero
    &-block
      padding-top: 25px
      padding-bottom: 15px
    &-text
      max-width: 100%
      padding-left: 0
      &__title
        font-size: 24px
        font-weight: 400
        margin-bottom: 4px
        line-height: 30px
      &__subtitle
        font-size: 16px
        line-height: 20px
        margin-bottom: 28px
    &-item:not(:last-child)
      margin-bottom: 17px
    &-item
      &__img
        margin-right: 10px
        width: 38px
        height: 38px
      &__text
        font-size: 12px
        line-height: 15px
        max-width: 200px
    &-img
      margin-top: 35px
